# Preprocessing

In [1]:
from os import path
import bz2
import pandas as pd
from keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras import regularizers
from operator import itemgetter as it
from itertools import repeat

Using TensorFlow backend.

In [2]:
%pwd

'/Users/hpitawela/resumes/projects'

In [3]:
fname_train = 'training.psv'
fname_eval = 'eval.psv'

In [4]:
# Reading files and populate dataframes
df_train = pd.read_csv(fname_train, delimiter="|")
df_eval = pd.read_csv(fname_eval, delimiter="|")

In [5]:
df_train.columns

Index(['student_id', 'level', 'course', 'grade', 'major'], dtype='object')

In [6]:
df_eval.columns

Index(['student_id', 'level', 'course', 'grade', 'major1', 'major2', 'major3'], dtype='object')

In [7]:
df_train.head()

         student_id      level    course grade                    major
0  ppVGBRKhtqqyxnVO   Freshman  SPAN:100     A                 Business
1  PiPkSgMGbFIu5RwR   Freshman   CSI:160     S  International Relations
2  PiPkSgMGbFIu5RwR  Sophomore   EES:107     C  International Relations
3  PiPkSgMGbFIu5RwR     Senior  SPAN:201     B  International Relations
4  PiPkSgMGbFIu5RwR     Junior  ENTR:200    B+  International Relations

In [8]:
# grouping by student_id to extract majors
df2_train = df_train.groupby('student_id', as_index=False).last()
df2_train = df2_train[['student_id','major']]

In [9]:
# one hot encoding of majors in the training set
encoded_majors = pd.get_dummies(df2_train.major)
df2_train_st_major_headers = pd.concat([df2_train, encoded_majors], axis=1)
df2_train_major_headers = df2_train_st_major_headers.drop(columns=['major'])

# set student_id as index
df2_train_majors_with_st_index = df2_train_major_headers.set_index('student_id')
df2_train_majors_with_st_index.head()

,Accounting,Actuarial Science,Actuarial Sciences,African American Studies,Anthropology,Art,Asian Studies,Astronomy,Biochemistry,Biology,...,Religion,Russian,Social Work,Sociology,Spanish,Speech And Hearing Science,Statistics,Theatre,Therapeutic Recreation,Veterinary Medicine
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01MhxeQl5FhRsf3f,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01W7KB8TDNWNx4YW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
042Rmpv5B2kXdfBR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04DuzbneGqk0o0jY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# grade values in training set
df1_train_grade = df_train.pivot(index='student_id',columns='course',values='grade')

In [11]:
df1_train_grade.shape

(10000, 2721)

In [12]:
# level values in training set
df1_train_level = df_train.pivot(index='student_id',columns='course',values='level')

In [13]:
df1_train_level.shape

(10000, 2721)

In [14]:
# grade values in eval set
df3_eval_grade = df_eval.pivot('student_id','course','grade')

In [16]:
# level values in eval set
df3_eval_level = df_eval.pivot('student_id','course','level')

## Approach 1 - One hot encoding of grade and level values

In [17]:
pd.unique(df1_train_grade[df1_train_grade.columns].values.ravel('K'))

array([nan, 'B', 'C', 'R', 'B+', 'S', 'B-', 'C-', 'A', 'A+', 'A-', 'C+',
       'WX', 'D', 'D+', 'D-', 'AUS', 'U', 'P', 'I', 'AUU', 'N'],
      dtype=object)

In [18]:
# One hot encoding for grades in training set
df1_train_grade_course_headers = pd.concat([pd.get_dummies(df1_train_grade[col]) for col in df1_train_grade], axis=1, keys=df1_train_grade.columns)

In [19]:
# One hot encoding for grades in eval set
df3_eval_grade_course_headers = pd.concat([pd.get_dummies(df3_eval_grade[col]) for col in df3_eval_grade], axis=1, keys=df3_eval_grade.columns)
df3_eval_grade_course_headers.head()

course           006:100 ABRD:302 ABRD:304 ABRD:306 ABRD:308 ABRD:309  \
                       R        R        R        R        R        R
student_id
01BVNwmXUXsoVHLd       0        0        0        0        0        0
03TWkCsakXIVrOtA       0        0        0        0        0        0
067YeH4Acv00Bdvf       0        0        0        0        0        0
06TWQIIh4SaEAnOu       0        0        0        0        0        0
08dMDGiuTXbojMV0       0        0        0        0        0        0

course           ABRD:314 ABRD:321 ABRD:322 ABRD:324   ...    WRIT:140        \
                        R        R        R        R   ...           B B+ C+
student_id                                             ...
01BVNwmXUXsoVHLd        0        0        0        0   ...           0  0  0
03TWkCsakXIVrOtA        0        0        0        0   ...           0  0  0
067YeH4Acv00Bdvf        0        0        0        0   ...           0  0  0
06TWQIIh4SaEAnOu        0        0        0        0   ...           0  0  0
08dMDGiuTXbojMV0        0        0        0        0   ...           0  0  0

course           WRIT:160          WRIT:310 WRIT:474 WRIT:476
                        A A- B+ C+        A       A-       A+
student_id
01BVNwmXUXsoVHLd        0  0  0  0        0        0        0
03TWkCsakXIVrOtA        0  0  0  1        0        0        0
067YeH4Acv00Bdvf        0  0  0  0        0        0        0
06TWQIIh4SaEAnOu        0  0  0  0        0        0        0
08dMDGiuTXbojMV0        0  0  0  0        0        0        0

[5 rows x 5698 columns]

In [20]:
# Aligining courses columns of training and eval sets on grades
df3_eval_grade_course_headers_aligned, df1_train_grade_course_headers_aligned = df3_eval_grade_course_headers.align(df1_train_grade_course_headers, axis=1, fill_value=0)
df1_train_grade_course_headers_aligned, df3_eval_grade_course_headers_aligned = df1_train_grade_course_headers.align(df3_eval_grade_course_headers, axis=1, fill_value=0)

In [21]:
# check if aligning has worked
compare = df1_train_grade_course_headers_aligned.columns == df3_eval_grade_course_headers_aligned.columns
pd.unique(compare)

array([ True])

In [22]:
# One hot encoding of course levels in training set
df1_train_level_course_headers = pd.concat([pd.get_dummies(df1_train_level[col]) for col in df1_train_level], axis=1, keys=df1_train_level.columns)

# One hot encoding of course levels in eval set
df3_eval_level_course_headers = pd.concat([pd.get_dummies(df3_eval_level[col]) for col in df3_eval_level], axis=1, keys=df3_eval_level.columns)

In [23]:
# Aligining courses columns of training and eval sets on levels
df3_eval_level_course_headers_aligned, df1_train_level_course_headers_aligned = df3_eval_level_course_headers.align(df1_train_level_course_headers, axis=1, fill_value=0)
df1_train_level_course_headers_aligned, df3_eval_level_course_headers_aligned = df1_train_level_course_headers.align(df3_eval_level_course_headers, axis=1, fill_value=0)

In [24]:
# check if aligning has worked
compare = df1_train_level_course_headers_aligned.columns == df3_eval_level_course_headers_aligned.columns
pd.unique(compare)

array([ True])

In [25]:
# Transposing to get student headers for concatenation of grades and levels
df3_eval_level_st_headers = df3_eval_level_course_headers_aligned.T
df1_train_level_st_headers = df1_train_level_course_headers_aligned.T

# Transposing grades and levels for concatenation
df1_train_grade_st_headers = df1_train_grade_course_headers_aligned.T
df3_eval_grade_st_headers = df3_eval_grade_course_headers_aligned.T

In [26]:
# Merging grade and levels in training set
df1_train_st_headers_merged =  pd.concat([df1_train_grade_st_headers, df1_train_level_st_headers])

# Merging grade and levels in eval set
df3_eval_st_headers_merged = pd.concat([df3_eval_grade_st_headers, df3_eval_level_st_headers])

In [27]:
# check shape after merging
df3_eval_st_headers_merged.shape

(18434, 2000)

In [29]:
# set input features to feed the model
train = df1_train_st_headers_merged.T

In [30]:
train.head()

course           006:100 ABRD:301 ABRD:302    ABRD:303 ABRD:304 ABRD:306  \
                       R        R       A+  R        R        R        R
student_id
01DiJuoJAB395ucJ       0        0        0  0        0        0        0
01MhxeQl5FhRsf3f       0        0        0  0        0        0        0
01W7KB8TDNWNx4YW       0        0        0  0        0        0        0
042Rmpv5B2kXdfBR       0        0        0  0        0        0        0
04DuzbneGqk0o0jY       0        0        0  0        0        0        0

course           ABRD:307 ABRD:308 ABRD:309   ...    WRIT:310            \
                        R        R        R   ...      Senior Sophomore
student_id                                    ...
01DiJuoJAB395ucJ        0        0        0   ...           0         0
01MhxeQl5FhRsf3f        0        0        0   ...           0         0
01W7KB8TDNWNx4YW        0        0        0   ...           0         0
042Rmpv5B2kXdfBR        0        0        0   ...           0         0
04DuzbneGqk0o0jY        0        0        0   ...           0         0

course           WRIT:326  WRIT:374 WRIT:390 WRIT:400        WRIT:474         \
                   Senior Sophomore   Junior   Junior Senior   Junior Senior
student_id
01DiJuoJAB395ucJ        0         0        0        0      0        0      0
01MhxeQl5FhRsf3f        0         0        0        0      0        0      0
01W7KB8TDNWNx4YW        0         0        0        0      0        0      0
042Rmpv5B2kXdfBR        0         0        0        0      0        0      0
04DuzbneGqk0o0jY        0         0        0        0      0        0      0

course           WRIT:476
                   Senior
student_id
01DiJuoJAB395ucJ        0
01MhxeQl5FhRsf3f        0
01W7KB8TDNWNx4YW        0
042Rmpv5B2kXdfBR        0
04DuzbneGqk0o0jY        0

[5 rows x 18434 columns]

In [31]:
df2_train_majors_with_st_index.head()

,Accounting,Actuarial Science,Actuarial Sciences,African American Studies,Anthropology,Art,Asian Studies,Astronomy,Biochemistry,Biology,...,Religion,Russian,Social Work,Sociology,Spanish,Speech And Hearing Science,Statistics,Theatre,Therapeutic Recreation,Veterinary Medicine
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01MhxeQl5FhRsf3f,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01W7KB8TDNWNx4YW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
042Rmpv5B2kXdfBR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04DuzbneGqk0o0jY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
#create model
model1 = Sequential()

#get number of columns in training data
n_cols = train.values.shape[1]

#add model layers
model1.add(Dropout(0.5, input_shape=(n_cols,)))
model1.add(Dense(200, activation='relu'))
model1.add(Dense(df2_train_majors_with_st_index.values.shape[1], activation='softmax'))

#compile model using mse as a measure of model performance
model1.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)
#train model
model1.fit(train, df2_train_majors_with_st_index, epochs=5, batch_size=64, validation_split=0.2, callbacks=[early_stopping_monitor])

Train on 8000 samples, validate on 2000 samples
Epoch 1/5
8000/8000 [==============================] - 40s 5ms/step - loss: 2.7780 - acc: 0.5805 - val_loss: 1.4156 - val_acc: 0.8025
Epoch 2/5
8000/8000 [==============================] - 39s 5ms/step - loss: 1.3172 - acc: 0.7338 - val_loss: 0.7751 - val_acc: 0.8775
Epoch 3/5
8000/8000 [==============================] - 40s 5ms/step - loss: 0.9320 - acc: 0.7913 - val_loss: 0.5672 - val_acc: 0.8950
Epoch 4/5
8000/8000 [==============================] - 39s 5ms/step - loss: 0.7850 - acc: 0.8157 - val_loss: 0.4638 - val_acc: 0.9120
Epoch 5/5
8000/8000 [==============================] - 39s 5ms/step - loss: 0.6668 - acc: 0.8402 - val_loss: 0.3971 - val_acc: 0.9190

## Approach 2 - Ignoring level values

In [33]:
#training set grades with student_id headers and one_hot encoded
df1_train_grade_st_headers.head()

student_id   01DiJuoJAB395ucJ  01MhxeQl5FhRsf3f  01W7KB8TDNWNx4YW  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   042Rmpv5B2kXdfBR  04DuzbneGqk0o0jY  04TIITMjjPIVIkES  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   04vxIYe6guefIhGD  04yPdcfnDzHbSIsS  04zKgh2DJS9owZNA  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  1                 0                 0
ABRD:303 R                  0                 0                 0

student_id   059Ssc6DVmDrBM7o        ...         ztxqzzstFQAUqFF5  \
course                               ...
006:100  R                  0        ...                        0
ABRD:301 R                  0        ...                        0
ABRD:302 A+                 0        ...                        0
         R                  0        ...                        0
ABRD:303 R                  0        ...                        0

student_id   zvxS0iHJO7zrsT4z  zw6BlxT3IPULAtyN  zwtG2OaFnK3NPeGm  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   zx6fskg55IgkzEDA  zzL9tMAJh28lzEb7  zzTJwgTritjISIOS  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   zzWgxK0AfTmln8wS  zzX9IzDFcBfprIhm  zzmL0Yv0ksPiCaaq
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

[5 rows x 10000 columns]

In [34]:
#eval set grades with student_id headers and one_hot encoded
df3_eval_grade_st_headers.head()

student_id   01BVNwmXUXsoVHLd  03TWkCsakXIVrOtA  067YeH4Acv00Bdvf  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   06TWQIIh4SaEAnOu  08dMDGiuTXbojMV0  0AZBfmHd9FV2FnKx  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   0Ag6mrfoNbm6galR  0CLEOGQtzygq3vMv  0EkR8DbOEjK78l59  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   0GNXLTwD25oyMmaM        ...         zkDtTPIFME95aIVW  \
course                               ...
006:100  R                  0        ...                        0
ABRD:301 R                  0        ...                        0
ABRD:302 A+                 0        ...                        0
         R                  0        ...                        0
ABRD:303 R                  0        ...                        0

student_id   zq9QA2E0VeDT8CxN  zqm0Sv36yNKjRGVJ  zrU4Qu4QsTkl52kN  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   zs10WJ4zIy9p1Rz4  zw6ON6poVhhrnGG8  zx4TjtzsmEHeULeo  \
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

student_id   zz1XYEbqcaXz5ICW  zzOFhJF3YHyXmwbV  zznsrO2NfjMPqg4I
course
006:100  R                  0                 0                 0
ABRD:301 R                  0                 0                 0
ABRD:302 A+                 0                 0                 0
         R                  0                 0                 0
ABRD:303 R                  0                 0                 0

[5 rows x 2000 columns]

In [35]:
#training set labels with major headers and one_hot encoded
df2_train_majors_with_st_index

,Accounting,Actuarial Science,Actuarial Sciences,African American Studies,Anthropology,Art,Asian Studies,Astronomy,Biochemistry,Biology,...,Religion,Russian,Social Work,Sociology,Spanish,Speech And Hearing Science,Statistics,Theatre,Therapeutic Recreation,Veterinary Medicine
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01MhxeQl5FhRsf3f,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01W7KB8TDNWNx4YW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
042Rmpv5B2kXdfBR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04DuzbneGqk0o0jY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04TIITMjjPIVIkES,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04vxIYe6guefIhGD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04yPdcfnDzHbSIsS,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04zKgh2DJS9owZNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
059Ssc6DVmDrBM7o,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
06dbEjb2Xqn3bkAX,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
06nSqIFrWKJCBGXD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
071RjN9pdzN7v4Zj,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
07CgCsmp034DruxF,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
084N29KbjJPVZh7t,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
087jZfNmDbvkV4I2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
097YlIF7a7Chokz0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
09hpPVYG8Iwxx9RJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0A4BqGslGR3jXkv1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0AYczPe1jLbwteCV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0B0SwZ1VYIAkAhIu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0B0hgpSOQf91BEZp,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0BMnkgPZDSJXXKca,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0C3UfPm9FPgvVU4i,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0C6z1cUYQb31N7y0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0CVFcOlmCQUOajcW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0Cvy2lCKPW24w6uv,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0D30BV9IQfL6qxtF,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0DWy8mXUr68sf3db,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0DX6qJIxGZiK7rJf,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zlyCe1R7iYkDjIGw,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zmEn6aCh4gOROjRz,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zmUxJ3PWRuxRegIJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zmjDJHOvB2SWrV7X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
znCojy5XrUDvVQrK,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
znOD7OLHdKzJyIWQ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zoMt8koMOpPqETNJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zooj90M3NXv4qjX6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zp0pSN9HXJMMJ3uP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zpgVLwDg9ORK8gAO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zq42fzWVFrRKx3Kr,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zqp2IKisTbuPYLyQ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zqtpEW7X7cm1PcM0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zrV2XjGGX6QldoZP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zrn6Z0rFm4RJ1qRc,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zsPPnCr8bwYbVwO1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zsQRN71IJ4i3m3dD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zsg7Gt9JpltEc93L,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zsj4bezQvJ4ZVHFa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zsvlRpbQaVn3LWGu,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ztxqzzstFQAUqFF5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zvxS0iHJO7zrsT4z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zw6BlxT3IPULAtyN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zwtG2OaFnK3NPeGm,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zx6fskg55IgkzEDA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zzL9tMAJh28lzEb7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zzTJwgTritjISIOS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zzWgxK0AfTmln8wS,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
zzX9IzDFcBfprIhm,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zzmL0Yv0ksPiCaaq,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
#create model
model2 = Sequential()

#get number of columns in training data
n_cols = df1_train_grade_st_headers.T.values.shape[1]

#add model layers
model2.add(Dropout(0.5, input_shape=(n_cols,)))
model2.add(Dense(250, activation='relu'))
model2.add(Dense(df2_train_majors_with_st_index.values.shape[1], activation='softmax'))

#compile model using mse as a measure of model performance
model2.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)
#train model
model2.fit(df1_train_grade_st_headers.T, df2_train_majors_with_st_index, epochs=10, batch_size=64, validation_split=0.2, callbacks=[early_stopping_monitor])

Train on 8000 samples, validate on 2000 samples
Epoch 1/10
8000/8000 [==============================] - 33s 4ms/step - loss: 3.3407 - acc: 0.3711 - val_loss: 2.2670 - val_acc: 0.5520
Epoch 2/10
8000/8000 [==============================] - 29s 4ms/step - loss: 1.9659 - acc: 0.5731 - val_loss: 1.4000 - val_acc: 0.7795
Epoch 3/10
8000/8000 [==============================] - 30s 4ms/step - loss: 1.5192 - acc: 0.6480 - val_loss: 1.0354 - val_acc: 0.8395
Epoch 4/10
8000/8000 [==============================] - 31s 4ms/step - loss: 1.3242 - acc: 0.6731 - val_loss: 0.8267 - val_acc: 0.8640
Epoch 5/10
8000/8000 [==============================] - 31s 4ms/step - loss: 1.2049 - acc: 0.6926 - val_loss: 0.7085 - val_acc: 0.8715
Epoch 6/10
8000/8000 [==============================] - 33s 4ms/step - loss: 1.1210 - acc: 0.7087 - val_loss: 0.6210 - val_acc: 0.8895
Epoch 7/10
8000/8000 [==============================] - 31s 4ms/step - loss: 1.0859 - acc: 0.7109 - val_loss: 0.5678 - val_acc: 0.8890
Epoch 8/10
8000/8000 [==============================] - 31s 4ms/step - loss: 1.0136 - acc: 0.7271 - val_loss: 0.5198 - val_acc: 0.9005
Epoch 9/10
8000/8000 [==============================] - 31s 4ms/step - loss: 0.9794 - acc: 0.7332 - val_loss: 0.4822 - val_acc: 0.9005
Epoch 10/10
8000/8000 [==============================] - 30s 4ms/step - loss: 0.9514 - acc: 0.7416 - val_loss: 0.4470 - val_acc: 0.9075

## Approach 3 - With Integer encoding ignoring level values

In [38]:
#training set grades with student_id headers
df1_train_grade.head()

course,006:100,ABRD:301,ABRD:302,ABRD:303,ABRD:304,ABRD:306,ABRD:307,ABRD:308,ABRD:309,ABRD:311,...,WRIT:100,WRIT:140,WRIT:160,WRIT:310,WRIT:326,WRIT:374,WRIT:390,WRIT:400,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01MhxeQl5FhRsf3f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01W7KB8TDNWNx4YW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
042Rmpv5B2kXdfBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
04DuzbneGqk0o0jY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# unique values in above dataframe
pd.unique(df1_train_grade[df1_train_grade.columns].values.ravel('K'))

array([nan, 'B', 'C', 'R', 'B+', 'S', 'B-', 'C-', 'A', 'A+', 'A-', 'C+',
       'WX', 'D', 'D+', 'D-', 'AUS', 'U', 'P', 'I', 'AUU', 'N'],
      dtype=object)

In [40]:
# no of unique values in above dataframe
pd.unique(df1_train_grade[df1_train_grade.columns].values.ravel('K')).size

22

In [41]:
# fill NaN wirh zeros
df1_train_grade_nan_0 = df1_train_grade.fillna(0)

# check if NaNs are filled with zeros
df1_train_grade_nan_0.head()

course,006:100,ABRD:301,ABRD:302,ABRD:303,ABRD:304,ABRD:306,ABRD:307,ABRD:308,ABRD:309,ABRD:311,...,WRIT:100,WRIT:140,WRIT:160,WRIT:310,WRIT:326,WRIT:374,WRIT:390,WRIT:400,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01MhxeQl5FhRsf3f,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01W7KB8TDNWNx4YW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
042Rmpv5B2kXdfBR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04DuzbneGqk0o0jY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
# eval set with course headers
df3_eval_grade.head()

course,006:100,ABRD:302,ABRD:304,ABRD:306,ABRD:308,ABRD:309,ABRD:314,ABRD:321,ABRD:322,ABRD:324,...,ULIB:301,URES:399,URP:201,URP:300,URP:620,WRIT:140,WRIT:160,WRIT:310,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01BVNwmXUXsoVHLd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
03TWkCsakXIVrOtA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,C+,NaN,NaN,NaN
067YeH4Acv00Bdvf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06TWQIIh4SaEAnOu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
08dMDGiuTXbojMV0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# unique values in eval set
pd.unique(df3_eval_grade[df3_eval_grade.columns].values.ravel('K'))

array([nan, 'A', 'C+', 'B', 'B-', 'C-', 'S', 'A-', 'B+', 'C', 'D+', 'A+',
       'D', 'R', 'U', 'D-', 'I', 'AUS', 'P', 'AUU', 'N', 'WX'],
      dtype=object)

In [44]:
# no of unique values in eval set
pd.unique(df3_eval_grade[df3_eval_grade.columns].values.ravel('K')).size

22

In [45]:
# filling NaN with zeros
df3_eval_grade_nan_0 = df3_eval_grade.fillna(0)

# check if NaNs are filled with zeros
df3_eval_grade_nan_0.head()

course,006:100,ABRD:302,ABRD:304,ABRD:306,ABRD:308,ABRD:309,ABRD:314,ABRD:321,ABRD:322,ABRD:324,...,ULIB:301,URES:399,URP:201,URP:300,URP:620,WRIT:140,WRIT:160,WRIT:310,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01BVNwmXUXsoVHLd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
03TWkCsakXIVrOtA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,C+,0,0,0
067YeH4Acv00Bdvf,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
06TWQIIh4SaEAnOu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
08dMDGiuTXbojMV0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Integer encoding

In [ ]:
#Since both eval and training sets have same 22 distinct values, let's integer encode them as per following:
cleanup_nums = {'A':20, 'C+':15, 'B':17, 'B-':16, 'C-':13, 'S':5, 'A-':19, 'B+':18, 'C':14, 'D+':12, 'A+':21,
       'D':11, 'R':9, 'U':2, 'D-':10, 'I':1, 'AUS':6, 'P':7, 'AUU':4, 'N':3, 'WX':8}

In [47]:
# interger encodng of training set
df1_train_grade_int_encoded = df1_train_grade_nan_0.replace(cleanup_nums)

In [48]:
# check if integer encoding has worked
pd.unique(df1_train_grade_int_encoded[df1_train_grade_int_encoded.columns].values.ravel('K'))

array([ 0,  9, 21,  6,  5, 15, 16, 17, 10, 13, 18, 14, 11, 19, 20,  7, 12,
        1,  8,  2,  4,  3])

In [49]:
# interger encodng of eval set
df3_eval_grade_int_encoded = df3_eval_grade_nan_0.replace(cleanup_nums)

In [50]:
# check if integer encoding has worked
pd.unique(df3_eval_grade_int_encoded[df3_eval_grade_int_encoded.columns].values.ravel('K'))

array([ 0,  9, 19, 20, 21, 17, 18, 15, 14, 13, 16, 11, 10, 12,  5,  7,  8,
        1,  6,  4,  2,  3])

### Aligning features in training and eval sets

In [51]:
# Aligining courses columns of training and eval sets on grades
df3_eval_grade_int_encoded_aligned, df1_train_grade_int_encoded_aligned = df3_eval_grade_int_encoded.align(df1_train_grade_int_encoded, axis=1, fill_value=0)
df1_train_grade_int_encoded_aligned, df3_eval_grade_int_encoded_aligned = df1_train_grade_int_encoded.align(df3_eval_grade_int_encoded, axis=1, fill_value=0)

In [52]:
# check if aligning has worked
compare = df1_train_grade_int_encoded_aligned.columns == df3_eval_grade_int_encoded_aligned.columns
pd.unique(compare)

array([ True])

### Normalization

This is not necessary as all input features come from same integer range 0-21. However this can improve the speed of learning via fast convergence.

In [53]:
# Normalizing training set
df1_train_grade_norm_transposed = (df1_train_grade_int_encoded_aligned.T - df1_train_grade_int_encoded_aligned.T.mean()) / (df1_train_grade_int_encoded_aligned.T.max() - df1_train_grade_int_encoded_aligned.T.min())
df1_train_grade_norm = df1_train_grade_norm_transposed.T

In [54]:
# check if normalization has worked
df1_train_grade_norm.head()

course,006:100,ABRD:301,ABRD:302,ABRD:303,ABRD:304,ABRD:306,ABRD:307,ABRD:308,ABRD:309,ABRD:311,...,WRIT:100,WRIT:140,WRIT:160,WRIT:310,WRIT:326,WRIT:374,WRIT:390,WRIT:400,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,...,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355
01MhxeQl5FhRsf3f,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,...,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355
01W7KB8TDNWNx4YW,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,...,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737,-0.003737
042Rmpv5B2kXdfBR,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,...,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355
04DuzbneGqk0o0jY,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,...,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355

In [55]:
# Normalizing eval set
df3_eval_grade_norm_transposed = (df3_eval_grade_int_encoded_aligned.T - df3_eval_grade_int_encoded_aligned.T.mean()) / (df3_eval_grade_int_encoded_aligned.T.max() - df3_eval_grade_int_encoded_aligned.T.min())
df3_eval_grade_norm = df3_eval_grade_norm_transposed.T

In [56]:
# check if normalization has worked
df3_eval_grade_norm.head()

course,006:100,ABRD:301,ABRD:302,ABRD:303,ABRD:304,ABRD:306,ABRD:307,ABRD:308,ABRD:309,ABRD:311,...,WRIT:100,WRIT:140,WRIT:160,WRIT:310,WRIT:326,WRIT:374,WRIT:390,WRIT:400,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01BVNwmXUXsoVHLd,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,...,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355
03TWkCsakXIVrOtA,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,...,-0.000355,-0.000355,0.999645,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355
067YeH4Acv00Bdvf,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,...,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355,-0.000355
06TWQIIh4SaEAnOu,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,...,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954,-0.004954
08dMDGiuTXbojMV0,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,...,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883,-0.004883

In [57]:
#training set labels with major headers and one_hot encoded
df2_train_majors_with_st_index.head()

,Accounting,Actuarial Science,Actuarial Sciences,African American Studies,Anthropology,Art,Asian Studies,Astronomy,Biochemistry,Biology,...,Religion,Russian,Social Work,Sociology,Spanish,Speech And Hearing Science,Statistics,Theatre,Therapeutic Recreation,Veterinary Medicine
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01MhxeQl5FhRsf3f,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01W7KB8TDNWNx4YW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
042Rmpv5B2kXdfBR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04DuzbneGqk0o0jY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
#create model
model3 = Sequential()

#get number of columns in training data
n_cols = df1_train_grade_norm.values.shape[1]

#add model layers
model3.add(Dropout(0.5, input_shape=(n_cols,)))
model3.add(Dense(250, activation='relu'))
model3.add(Dense(df2_train_majors_with_st_index.values.shape[1], activation='softmax'))

#compile model using mse as a measure of model performance
model3.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)
#train model
model3.fit(df1_train_grade_norm, df2_train_majors_with_st_index, epochs=20, batch_size=16, validation_split=0.2)

Train on 8000 samples, validate on 2000 samples
Epoch 1/20
8000/8000 [==============================] - 14s 2ms/step - loss: 2.0960 - acc: 0.5766 - val_loss: 0.8290 - val_acc: 0.8745
Epoch 2/20
8000/8000 [==============================] - 13s 2ms/step - loss: 1.1614 - acc: 0.6959 - val_loss: 0.5104 - val_acc: 0.9290
Epoch 3/20
8000/8000 [==============================] - 13s 2ms/step - loss: 1.0284 - acc: 0.7203 - val_loss: 0.4075 - val_acc: 0.9430
Epoch 4/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.9702 - acc: 0.7324 - val_loss: 0.3522 - val_acc: 0.9475
Epoch 5/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.9360 - acc: 0.7353 - val_loss: 0.3247 - val_acc: 0.9450
Epoch 6/20
8000/8000 [==============================] - 13s 2ms/step - loss: 0.8891 - acc: 0.7411 - val_loss: 0.2987 - val_acc: 0.9470
Epoch 7/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.9108 - acc: 0.7355 - val_loss: 0.2722 - val_acc: 0.9540
Epoch 8/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.8763 - acc: 0.7466 - val_loss: 0.2628 - val_acc: 0.9515
Epoch 9/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.8890 - acc: 0.7468 - val_loss: 0.2506 - val_acc: 0.9525
Epoch 10/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.8756 - acc: 0.7400 - val_loss: 0.2342 - val_acc: 0.9580
Epoch 11/20
8000/8000 [==============================] - 13s 2ms/step - loss: 0.8674 - acc: 0.7432 - val_loss: 0.2335 - val_acc: 0.9580
Epoch 12/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.8618 - acc: 0.7476 - val_loss: 0.2325 - val_acc: 0.9585
Epoch 13/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.8592 - acc: 0.7507 - val_loss: 0.2261 - val_acc: 0.9560
Epoch 14/20
8000/8000 [==============================] - 13s 2ms/step - loss: 0.8525 - acc: 0.7481 - val_loss: 0.2336 - val_acc: 0.9525
Epoch 15/20
8000/8000 [==============================] - 13s 2ms/step - loss: 0.8560 - acc: 0.7486 - val_loss: 0.2256 - val_acc: 0.9560
Epoch 16/20
8000/8000 [==============================] - 13s 2ms/step - loss: 0.8448 - acc: 0.7521 - val_loss: 0.2207 - val_acc: 0.9540
Epoch 17/20
8000/8000 [==============================] - 13s 2ms/step - loss: 0.8655 - acc: 0.7479 - val_loss: 0.2247 - val_acc: 0.9535
Epoch 18/20
8000/8000 [==============================] - 13s 2ms/step - loss: 0.8413 - acc: 0.7511 - val_loss: 0.2097 - val_acc: 0.9570
Epoch 19/20
8000/8000 [==============================] - 14s 2ms/step - loss: 0.8291 - acc: 0.7563 - val_loss: 0.2129 - val_acc: 0.9545
Epoch 20/20
8000/8000 [==============================] - 13s 2ms/step - loss: 0.8314 - acc: 0.7554 - val_loss: 0.2104 - val_acc: 0.9550

## Approach 4 - With Integer encoding without ignoring level values

In [59]:
#training set levels with course headers
df1_train_level.head()

course,006:100,ABRD:301,ABRD:302,ABRD:303,ABRD:304,ABRD:306,ABRD:307,ABRD:308,ABRD:309,ABRD:311,...,WRIT:100,WRIT:140,WRIT:160,WRIT:310,WRIT:326,WRIT:374,WRIT:390,WRIT:400,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01MhxeQl5FhRsf3f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01W7KB8TDNWNx4YW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
042Rmpv5B2kXdfBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
04DuzbneGqk0o0jY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# unique values in the above dataframe
pd.unique(df1_train_level[df1_train_level.columns].values.ravel('K'))

array([nan, 'Senior', 'Freshman', 'Junior', 'Sophomore'], dtype=object)

In [61]:
#eval set levels with course headers
df3_eval_level.head()

course,006:100,ABRD:302,ABRD:304,ABRD:306,ABRD:308,ABRD:309,ABRD:314,ABRD:321,ABRD:322,ABRD:324,...,ULIB:301,URES:399,URP:201,URP:300,URP:620,WRIT:140,WRIT:160,WRIT:310,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01BVNwmXUXsoVHLd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
03TWkCsakXIVrOtA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Sophomore,NaN,NaN,NaN
067YeH4Acv00Bdvf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06TWQIIh4SaEAnOu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
08dMDGiuTXbojMV0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# unique values in the above dataframe
pd.unique(df3_eval_level[df3_eval_level.columns].values.ravel('K'))

array([nan, 'Sophomore', 'Junior', 'Senior', 'Freshman'], dtype=object)

In [63]:
# filling NaN with zeros in training set
df1_train_level_nan_0 = df1_train_level.fillna(0)

# check if filling has worked
df1_train_level_nan_0.head()

course,006:100,ABRD:301,ABRD:302,ABRD:303,ABRD:304,ABRD:306,ABRD:307,ABRD:308,ABRD:309,ABRD:311,...,WRIT:100,WRIT:140,WRIT:160,WRIT:310,WRIT:326,WRIT:374,WRIT:390,WRIT:400,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01MhxeQl5FhRsf3f,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01W7KB8TDNWNx4YW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
042Rmpv5B2kXdfBR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04DuzbneGqk0o0jY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
# filling NaN with zeros in training set
df3_eval_level_nan_0 = df3_eval_level.fillna(0)

# check if filling has worked
df3_eval_level_nan_0.head()

course,006:100,ABRD:302,ABRD:304,ABRD:306,ABRD:308,ABRD:309,ABRD:314,ABRD:321,ABRD:322,ABRD:324,...,ULIB:301,URES:399,URP:201,URP:300,URP:620,WRIT:140,WRIT:160,WRIT:310,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01BVNwmXUXsoVHLd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
03TWkCsakXIVrOtA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Sophomore,0,0,0
067YeH4Acv00Bdvf,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
06TWQIIh4SaEAnOu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
08dMDGiuTXbojMV0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Integer encoding of levels

In [67]:
# encoding levels in training set
cleanup_levels = {'Sophomore':2, 'Junior':3, 'Senior':4, 'Freshman':1}
df1_train_level_int_encoded = df1_train_level_nan_0.replace(cleanup_levels)

# encoding levels in eval set
cleanup_levels = {'Sophomore':2, 'Junior':3, 'Senior':4, 'Freshman':1}
df3_eval_level_int_encoded = df3_eval_level_nan_0.replace(cleanup_levels)

In [70]:
# check if integer encoding has worked
pd.unique(df1_train_level_int_encoded[df1_train_level_int_encoded.columns].values.ravel('K'))

array([0, 4, 3, 2, 1])

### Aligning columns in training and eval sets for levels

In [71]:
# Aligining courses columns of training and eval sets on levels
df3_eval_level_int_encoded_aligned, df1_train_level_int_encoded_aligned = df3_eval_level_int_encoded.align(df1_train_level_int_encoded, axis=1, fill_value=0)
df1_train_level_int_encoded_aligned, df3_eval_level_int_encoded_aligned = df1_train_level_int_encoded.align(df3_eval_level_int_encoded, axis=1, fill_value=0)

In [72]:
# check if aligning has worked
compare = df1_train_level_int_encoded_aligned.columns == df3_eval_level_int_encoded_aligned.columns
pd.unique(compare)

array([ True])

### Normalization of levels

In [73]:
# Normalizing training set levels
df1_train_level_norm_transposed = (df1_train_level_int_encoded.T - df1_train_level_int_encoded.T.mean()) / (df1_train_level_int_encoded.T.max() - df1_train_level_int_encoded.T.min())
df1_train_level_norm = df1_train_level_norm_transposed.T

In [74]:
# check if normalization has worked
df1_train_level_norm.head()

course,006:100,ABRD:301,ABRD:302,ABRD:303,ABRD:304,ABRD:306,ABRD:307,ABRD:308,ABRD:309,ABRD:311,...,WRIT:100,WRIT:140,WRIT:160,WRIT:310,WRIT:326,WRIT:374,WRIT:390,WRIT:400,WRIT:474,WRIT:476
student_id,,,,,,,,,,,,,,,,,,,,,
01DiJuoJAB395ucJ,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,...,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368
01MhxeQl5FhRsf3f,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,...,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368
01W7KB8TDNWNx4YW,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,...,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767,-0.003767
042Rmpv5B2kXdfBR,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,...,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368
04DuzbneGqk0o0jY,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,...,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368,-0.000368

### Concatenating Normalized grades and levels

In [75]:
# concatenating normalized grades and levels
df1_train_norm_grades_levels = pd.concat([df1_train_grade_norm.T, df1_train_level_norm.T])

In [76]:
# check if concatenation has worked
df1_train_norm_grades_levels.shape

(5537, 10000)

### Model training

In [77]:
#create model
model4 = Sequential()

#get number of columns in training data
n_cols = df1_train_norm_grades_levels.T.values.shape[1]

#add model layers
model4.add(Dropout(0.5, input_shape=(n_cols,)))
model4.add(Dense(250, activation='relu'))
model4.add(Dense(df2_train_majors_with_st_index.values.shape[1], activation='softmax'))

#compile model using mse as a measure of model performance
model4.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)
#train model
model4.fit(df1_train_norm_grades_levels.T, df2_train_majors_with_st_index, epochs=20, batch_size=32, validation_split=0.2)

Train on 8000 samples, validate on 2000 samples
Epoch 1/20
8000/8000 [==============================] - 17s 2ms/step - loss: 1.9483 - acc: 0.6904 - val_loss: 0.5843 - val_acc: 0.9015
Epoch 2/20
8000/8000 [==============================] - 18s 2ms/step - loss: 0.8116 - acc: 0.8133 - val_loss: 0.3409 - val_acc: 0.9400
Epoch 3/20
8000/8000 [==============================] - 19s 2ms/step - loss: 0.6293 - acc: 0.8402 - val_loss: 0.2717 - val_acc: 0.9460
Epoch 4/20
8000/8000 [==============================] - 19s 2ms/step - loss: 0.5585 - acc: 0.8549 - val_loss: 0.2429 - val_acc: 0.9515
Epoch 5/20
8000/8000 [==============================] - 19s 2ms/step - loss: 0.5267 - acc: 0.8570 - val_loss: 0.2291 - val_acc: 0.9490
Epoch 6/20
8000/8000 [==============================] - 18s 2ms/step - loss: 0.4960 - acc: 0.8646 - val_loss: 0.2176 - val_acc: 0.9530
Epoch 7/20
8000/8000 [==============================] - 18s 2ms/step - loss: 0.4764 - acc: 0.8634 - val_loss: 0.2121 - val_acc: 0.9530
Epoch 8/20
8000/8000 [==============================] - 18s 2ms/step - loss: 0.4932 - acc: 0.8579 - val_loss: 0.2085 - val_acc: 0.9505
Epoch 9/20
8000/8000 [==============================] - 18s 2ms/step - loss: 0.4523 - acc: 0.8688 - val_loss: 0.2127 - val_acc: 0.9535
Epoch 10/20
8000/8000 [==============================] - 18s 2ms/step - loss: 0.4610 - acc: 0.8669 - val_loss: 0.2046 - val_acc: 0.9500
Epoch 11/20
8000/8000 [==============================] - 17s 2ms/step - loss: 0.4745 - acc: 0.8645 - val_loss: 0.2056 - val_acc: 0.9505
Epoch 12/20
8000/8000 [==============================] - 18s 2ms/step - loss: 0.4434 - acc: 0.8749 - val_loss: 0.2186 - val_acc: 0.9485
Epoch 13/20
8000/8000 [==============================] - 19s 2ms/step - loss: 0.4337 - acc: 0.8733 - val_loss: 0.2035 - val_acc: 0.9490
Epoch 14/20
8000/8000 [==============================] - 19s 2ms/step - loss: 0.4341 - acc: 0.8728 - val_loss: 0.2133 - val_acc: 0.9515
Epoch 15/20
8000/8000 [==============================] - 19s 2ms/step - loss: 0.4395 - acc: 0.8731 - val_loss: 0.2003 - val_acc: 0.9525
Epoch 16/20
8000/8000 [==============================] - 20s 2ms/step - loss: 0.4253 - acc: 0.8770 - val_loss: 0.1984 - val_acc: 0.9530
Epoch 17/20
8000/8000 [==============================] - 19s 2ms/step - loss: 0.4365 - acc: 0.8723 - val_loss: 0.2067 - val_acc: 0.9545
Epoch 18/20
8000/8000 [==============================] - 20s 2ms/step - loss: 0.4458 - acc: 0.8710 - val_loss: 0.2030 - val_acc: 0.9540
Epoch 19/20
8000/8000 [==============================] - 18s 2ms/step - loss: 0.4234 - acc: 0.8740 - val_loss: 0.2132 - val_acc: 0.9545
Epoch 20/20
8000/8000 [==============================] - 19s 2ms/step - loss: 0.4208 - acc: 0.8761 - val_loss: 0.2088 - val_acc: 0.9515

# Prediction

## Output dataframe preparation

In [78]:
# predicting using model3
p_test = model3.predict(df3_eval_grade_norm)

In [79]:
p_test_with_columns = pd.DataFrame(p_test, columns=df2_train_major_headers.columns[1:df2_train_major_headers.columns.size])

In [80]:
p_test_with_columns_st_column = p_test_with_columns

In [81]:
p_test_with_columns_st_column['student_id'] = df3_eval_grade.index

In [82]:
n = 3

# Extract top 3 majors to a list
new_d = (zip(repeat(row["student_id"]), map(it(0),(row[0:p_test_with_columns_st_column.columns.size-1].sort_values(ascending=False)[:n].iteritems())))
                 for _, row in p_test_with_columns_st_column.iterrows())


# Populate a dataframe with student_id and top 3 majors
rows = []
columns = ['student_id','major1','major2','major3']

for row in new_d:
    row_list = list(row)
    student_id = row_list[0][0]
    major_1 = row_list[0][1]
    major_2 = row_list[1][1]
    major_3 = row_list[2][1]
    row = [student_id, major_1, major_2, major_3]
    rows.append(row)

df_majors = pd.DataFrame(rows, columns=columns)
df_majors_st_index = df_majors.set_index('student_id')

In [83]:
df_eval_sorted = df_eval.sort_values(by=['student_id'])
df_eval_sorted_index = df_eval_sorted.set_index('student_id')

In [84]:
df_eval_final_merged = pd.merge(df_eval_sorted_index, df_majors_st_index, on='student_id')

In [85]:
df_eval_final_merged_dropped = df_eval_final_merged.drop(columns=['major1_x', 'major2_x',
       'major3_x'])

In [86]:
df_eval_final_merged_dropped.columns = ['level','course','grade','major1','major2','major3']

### Writing to pred.psv.file

In [87]:
# writing to pred.psv file
df_eval_final_merged_dropped.to_csv('pred.psv', sep='|')

# Thank you!!!